.float-left {
    float: left;
    margin-right: 2em;
}

.float-right {
    float: right;
    margin-left: 2em;
}

.clear-float {
    float: none;
}

.koor-form {
    display: table;
    border: 1px solid #19dda5;
    padding: 0.5em;
}

.koor-field {
    display: table-row;
}

.koor-field > label, input, textarea {
    display: table-cell;
    margin-bottom: 10px;
}

.koor-field > label {
    padding-right: 10px;
    vertical-align: top;
}

.koor-field > input {
    width: 400px;
}

.koor-field > textarea {
    width: 400px;
}

.koor-field > button {
    background-image: linear-gradient(#19dda5, #119671);
    border-radius: 5px;
    border: 1px ridge #119671;
    color: #1d2628;
    display: block;
    font-weight: bold;
    padding: 0.25em 0.75em;
}
.koor-field > button:active {
    border: 1px solid #006AE8;
}
.koor-field > button:hover {
    background-image: linear-gradient(#119671, #19dda5);
}
.koor-field > button:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
}
.koor-field > button:disabled {
    cursor: default;
    opacity: .3;
}

